@Styles.Render("~/Content/reports")

<h2>Reports</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="../../images/vendor.png">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="../../images/vendor.png" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Vendors Report</h4>
                    <div class="card-text">
                        Useful information about vendors.
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="location.href='@Url.Action("VendorsReport", "Reports")'" class="btn btn-info btn-sm">View report</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="../../images/employee.png">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="../../images/employee.png" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Employees Report</h4>
                    <div class="card-text">
                        Information about employees.
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="location.href='@Url.Action("EmployeesReport", "Reports")'" class="btn btn-info btn-sm">View report</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="../../images/sales.jpg">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="../../images/sales.jpg" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Sales report</h4>
                    <div class="card-text">
                        Useful information about sales.
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="location.href='@Url.Action("SalesReport", "Reports")'" class="btn btn-info btn-sm">View report</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="../../images/stock.png">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="../../images/stock.png" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Stock Report</h4>
                    <div class="card-text">
                        Useful information about stock.
                    </div>
                </div>
                <div class="card-footer">
                    <button onclick="location.href='@Url.Action("StockReport", "Reports")'" class="btn btn-info btn-sm">View report</button>
                </div>
            </div>
        </div>
    </div>
</div>