@model List<La_Piazzetta.Models.Order>

<h2 style="font-family: 'Playfair Display', serif; font-weight: 600">Stock Report</h2>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Products and quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var em in Model)
    {
        <tr>
            <td>@em.Id</td>
            <td>@em.OrderDate</td>
            <td>
                @foreach (var prod in em.OrderedProducts)
            {
                <span>@prod.Product.Name</span>
                <span> - </span>
                <span>@prod.Quantity</span>
                <br />
        }
            </td>
        </tr>
}

    </tbody>
</table>