/*
inspired from http://codepen.io/Rowno/pen/Afykb
& https://jsfiddle.net/q0rgL8ws/
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
    overflow: hidden;
}

.item.active img {
    transition: transform 5000ms linear 0s;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05);
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

        .carousel-fade .carousel-inner > .item.next.left,
        .carousel-fade .carousel-inner > .item.prev.right,
        .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
}
#carousel{
    width: 70%;
    height: 300px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.light hr {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.dark hr {
    border-top: 1px solid #111;
    border-bottom: 1px solid rgba(102, 102, 102, 0.45);
}

html,
body {
    height: 100%;
}

    html.dark,
    body.dark {
        background-color: #333;
    }

    html.light,
    body.light {
        background-color: #fff;
    }

.dark .widget {
    border-color: #222;
    background-color: #383838;
}

    .dark .widget .widget-head {
        text-shadow: 0 0.5px 0 #000;
        background-color: #222;
    }

    .dark .widget .widget-body-table {
        background-color: #2b2b2b;
    }

        .dark .widget .widget-body-table span {
            text-shadow: 0 1px 1px #383838;
            color: #161616;
        }

.light .widget {
    border-color: #ddd;
}

    .light .widget .widget-head {
        text-shadow: 0 0.5 #fff;
        background-color: #ddd;
    }

    .light .widget .widget-body-table {
        background-color: #fff;
    }

        .light .widget .widget-body-table span {
            color: #c8c8c8;
        }

.light .widget-container {
    border-right-color: #ddd;
}

.dark .widget-container {
    border-right-color: #222;
}

.widget-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 25px;
}

.widget {
    -moz-transition: left 0.1s ease, top 0.1s ease;
    -o-transition: left 0.1s ease, top 0.1s ease;
    -webkit-transition: left 0.1s ease, top 0.1s ease;
    transition: left 0.1s ease, top 0.1s ease;
}

.widget,
.placeholder {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-align-self: center;
    align-self: center;
    -webkit-flex-basis: 120px;
    flex-basis: 120px;
    position: relative;
    height: 90px;
    margin: 12px 8px;
    padding-top: 12px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: lightgrey;
    border-color: transparent;
}

.widget-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    width: 100%;
    height: 12px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 0.8;
    letter-spacing: 1px;
    color: orange;
    cursor: move;
    background-color: grey;
    border-radius:10px;
}

    .widget-head:before, .widget-head:after {
        content: "•";
    }

    .widget-head:before {
        color: tomato;
    }

    .widget-head:after {
        color: #00b300;
    }

.widget-body-table {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding: 2px 8px;
}

    .widget-body-table .framework {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        position: absolute;
        bottom: 2px;
        right: 2px;
        width: 12px;
        height: 12px;
        opacity: 0.25;
    }

.widget-body-content {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

    .widget-body-content span {
        font-size: 40px;
    }

.placeholder {
    border: 1px solid orange;
    background-color: rgba(255, 165, 0, 0.25);
}

.ui-sortable-helper {
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    -moz-box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65);
    -webkit-box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65);
    box-shadow: 0 32px 32px -16px rgba(66, 66, 66, 0.65);
}

.widgets {
  position: relative;
}

figure {
    margin: 0;
    width: 460px;
    float: left;
}
figure::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 815px) {
  figure img {
    float: left;
  }
}
figure figcaption {
  padding: 2.25em 2.5em 0;
}
@media only screen and (min-width: 815px) {
    figure figcaption {
        float: left;
        width: 60%;
        margin-top: 0;
        padding-top: 0;
        float: left;
    }
}
figure figcaption h3, figure figcaption .tag {
  font-family: 'Playfair Display', serif;
}
figure figcaption h3 {
  margin: 0;
  font-size: 2em;
  color: #3b3b3b;
}
figure figcaption .tag {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b26943;
}
figure figcaption p {
  margin: 2em 0;
  font-size: 0.875em;
  line-height: 1.375em;
}
figure figcaption .rating {
  color: #d08946;
}
figure figcaption .rating .fa {
  margin-right: 5px;
}
figure figcaption .rating .fa:last-child {
  margin-right: 0;
}




/* Padding - just for asthetics on Bootsnipp.com */
body {
    margin-top: 20px;
}

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}

.credit-card-box label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}

.credit-card-box .display-tr {
    display: table-row;
}

.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}