@{
    ViewBag.Title = "Home Page";
}

@*@Styles.Render("~/Content/home");*@

<div class="well" style="margin-top: 40px; height: 64px;">
    <span style="font-weight: 600; font-size:22px; float:left;">Phones: 0745 020 020; 0232 322 000</span>
    <a class="navbar-brand" style="float:right; margin-top:-20px;" href="@Url.Action("Menu", "Home")">
        <button type="button" class="btn btn-success">View menu</button>
    </a>
</div>

@Html.Partial("BigSlider")

@Html.Partial("SmallSlider")

<div style="clear:both"></div>
